link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700")
//link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')
link(rel='stylesheet', href='/css/semantic.min.css')
//ink(rel='stylesheet', href='/stylesheets/iyoomo.css')
link(rel='stylesheet', href='/static/css/005/iyoomo.css')

script(type="text/javascript" src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
script(type="text/javascript" src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
script(type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.js')
//script(type="text/javascript" src='/javascripts/src/semantic.js')
	script(type="text/javascript" src='/javascripts/lib/base/base.js')
	script(type="text/javascript" src='/javascripts/src/iyoomo.js')
script(type="text/javascript" src='/static/js/005/iyoomo.js')