include mixins/products

//-------------------------------------------
!!!5
html(lang='en')
	head
		block head
			title= title
		include includes/header
		block neck

body
	include includes/topmenu
	.header-content
		block header-content
	
	.main-content
		block main-content				
	
	block footer
		include includes/footer
	
	block feet