mixin addElement(name)
	li.i_create_element.i_element_text
		.handle
		.ui.button.i_element_content= name
		//input(type='text' name='content').i_element_content

extends ../../layout

block header-content	
	header.main-header.ui.inverted.page.grid.masthead.segment
		
	//分割线——————————————————————————————————————————————————————————	
	.ui.horizontal.icon.divider
		i.circular.archive.red.icon
		
block main-content
	section#todoapp
		script(type="text/x-handlebars", data-template-name="todos")
			heade#header
				h1 todos
				{{input type='text' id='new-todo' placehodler='What needs to be done?' value=newTitle action='createTodo'}}
				
			section#main
				ul#todo-list
					{{#each itemController='todo'}}
					<li {{bind-attr class="isCompleted:completed"}}>
					{{input type='checkbox' checked=isCompleted class='toggle'}}
					label {{title}}
					button.destroy
					</li>
					{{/each}}
				input(type='checkbox')#toggle-all
			
			footer#footer
				span#todo-count
					strong 2
					| todos left
				ul#filters
					li
						a.selected(href='all') All
					li
						a(href='active') Active
					li
						a(href='completed') Completed
				button#clear-completed
					| Clear completed (1)
		
		script(src='/js/lib/handlebars/handlebars-1.0.0.js')
		script(src='/js/lib/ember/ember.js')
		script(src='/js/lib/ember/ember-data.js')
		script(src='/js/product_editor/application.js')
		script(src='/js/product_editor/router.js')
		script(src='/js/product_editor/models/todo.js')
		script(src='/js/product_editor/controllers/todos_controller.js')
		script(src='/js/product_editor/controllers/todo_controller.js')