mixin addElement(name)
	li.i_create_element.i_element_text
		.handle
		.ui.button.i_element_content= name
		//input(type='text' name='content').i_element_content

extends ../../layout

block neck
	script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.js')
	script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.min.js')
	script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-route.min.js')
	script(src='//cdn.firebase.com/v0/firebase.js')
	script(src='//cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js')
	script(src='../js/product_editor/app.js')

block header-content	
	header.main-header.ui.inverted.page.grid.masthead.segment
		
	//分割线——————————————————————————————————————————————————————————	
	.ui.horizontal.icon.divider
		i.circular.archive.red.icon
		
block main-content
	section(ng-app='myApp')
		h2.ui.header
			i.settings.icon
			| JavaScript Projects
		section(ng-view)